 <h1 >some projects i created </h1>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>  OPTYPRO</mat-card-title>
      <mat-card-subtitle>website for optician</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-xl-image src="..\assets\optic.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      for create this web sit i use laravel  <br>  HTML CSS JS
      and blade 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      <a href="https://github.com/haidasse/opticpro" mat-button > repository</a>
    </mat-card-actions>
  </mat-card>

  <!-- crad 1 -->
  <mat-card class="example-card1">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>ebanking</mat-card-title>
      <mat-card-subtitle>online bank</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="..\assets\ebancking.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      
An eBanking website built with Spring and Angular functionality 
 with dynamic <br> frontend interfaces. 
  Spring ensures secure transaction  handling and data<br> management, 
   while Angular  delivers a seamless user experience with responsive,
    interactive features.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      <a href="https://github.com/haidasse/opticpro" mat-button > repository</a>
    </mat-card-actions>
  </mat-card>


  <!-- card2 -->
  <mat-card class="example-card2">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>emotrac</mat-card-title>
      <mat-card-subtitle>emotion detection</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-xl-image src="..\assets\emotrace.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      this is a front-end of application using deep learning <br>
      for emotion detection 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      <a href="https://github.com/haidasse/emofrontend-" mat-button > repository</a>
    </mat-card-actions>
  </mat-card>