
<div conti><h1 class="titel">hello everyone i am jaouad haidasse  <br> 
    <br> 
    <br> i am a software engineer </h1>
<img class="image" src="../assets/1.png" alt="myphoto" ><br>
     <br>
<div class="cont"> <h1 class="h1">My Bio</h1> 
    <p class="br">Student in the final year of the computer engineering and information systems cycle. In addition to my passion for information, during my training, I have been able to undertake supervised projects and internships, which have allowed me to develop practical experience in the design and creation of web applications.</p>
</div>   
   
<section>
 <app-section></app-section>   
</section>
 <br> <br>


 <section style="position: relative;">
  <h1 style="text-align: center; color :aliceblue;">Contact me </h1>
    <app-contact></app-contact>
 </section>
 <section style="position: relative;">
    <app-projects></app-projects> 
</section><br></div>